workflows/spiegel-fussball-fa.json
{
  "name": "FootballSpiegel",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "ed85de68-c65b-42e1-9678-cb9a8665a844",
      "name": "Cron (every 15 min)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-832, -320]
    },
    {
      "parameters": {
        "url": "https://www.spiegel.de/sport/fussball/index.rss",
        "options": {}
      },
      "id": "287f7708-0d85-460e-bdb8-5d39e910cb9f",
      "name": "RSS Read (SPIEGEL Fußball)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-544, -320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1-title-not-frauen",
              "leftValue": "={{ $json.title || '' }}",
              "rightValue": "frauen",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c2-title-not-women",
              "leftValue": "={{ $json.title || '' }}",
              "rightValue": "women",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c3-title-not-frauen-buli",
              "leftValue": "={{ $json.title || '' }}",
              "rightValue": "frauen-bundesliga",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c4-title-not-frauenwm",
              "leftValue": "={{ $json.title || '' }}",
              "rightValue": "frauenwm",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c5-sum-not-frauen",
              "leftValue": "={{ $json.summary || $json.description || '' }}",
              "rightValue": "frauen",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c6-sum-not-women",
              "leftValue": "={{ $json.summary || $json.description || '' }}",
              "rightValue": "women",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c7-sum-not-frauen-buli",
              "leftValue": "={{ $json.summary || $json.description || '' }}",
              "rightValue": "frauen-bundesliga",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            },
            {
              "id": "c8-sum-not-frauenwm",
              "leftValue": "={{ $json.summary || $json.description || '' }}",
              "rightValue": "frauenwm",
              "operator": {
                "type": "string",
                "operation": "notContains",
                "name": "filter.operator.notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-304, -320],
      "id": "cded9c96-221d-4128-a888-19d09725fe5e",
      "name": "Filter (men-only)"
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const j = i.json;\n  let image = null;\n  // RSS variants\n  if (j.enclosure && j.enclosure.url) image = j.enclosure.url;\n  if (!image && j[\"media:content\"] && j[\"media:content\"].url) image = j[\"media:content\"].url;\n  if (!image && typeof j.content === 'string') {\n    const m = j.content.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n    if (m) image = m[1];\n  }\n  // Normalize teaser (strip HTML)\n  const rawTeaser = (j.summary || j.description || '');\n  const teaser = typeof rawTeaser === 'string' ? rawTeaser.replace(/<[^>]*>/g,'').trim() : '';\n  i.json.imageUrl = image || null;\n  i.json.teaser = teaser;\n  return i;\n});"
      },
      "id": "f7a22f4d-6c3f-4b6a-9d46-3d2f5c7e8c11",
      "name": "Extract image & teaser",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [-64, -320]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (every 15 min)": {
      "main": [
        [
          {
            "node": "RSS Read (SPIEGEL Fußball)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (SPIEGEL Fußball)": {
      "main": [
        [
          {
            "node": "Filter (men-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter (men-only)": {
      "main": [
        [
          {
            "node": "Extract image & teaser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "293ac0e2-b494-4989-99f0-da073ee4e975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74338d6634b4803f2c29b4ddb0f0645d98af0974959d1701b31f3894967620b7"
  },
  "id": "m8Hae79VZG5Ut0rd",
  "tags": []
}
